body {
    margin: 0;
    padding: 0;

    background: url(../image/back2.jpg);

    overflow-y: overlay;
}

.container {
    width: 1100px;

    margin: 0 auto;

    min-height: calc(100vh - 40px);

    background-color:white;

    padding: 20px;

    box-sizing: border-box;
}

.header {
    height: 10vh;

    padding: 20px 0;
    
    margin-bottom: 10px;
}

.header p {
    font-size: 30px;
}

.information__items {
    height: 40px;

    display: flex;

    justify-content: space-between;
}

.serch__item {
    height: 40px;

    display: flex;
}

.serch__item input {
    height: 34px;

    width: 200px;

    font-size: 20px;

    margin-right: 20px;
}

.serch__item button {
    padding: 8px 25px;

    cursor: pointer;
}

.information {
    display: flex;
    flex-wrap:wrap;

    margin-top: 30px;

    padding: 10px;

    background-color:white;

    min-height: 84vh;
}

.cocktail__item{
    width: 24%;
    
    height: 300px;
    
    background-color:teal;
    
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 5px;
}

.cocktail__item img {
    width: 235px;

    height: 250px;

    margin-bottom: 5px;
}

.cocktail__item p {
    color: black;
}

.more__information{
    height: 100vh;

    width: calc(100vw);

    background-color:rgba(0, 0, 0, 0.575);

    z-index: 2;

    position: absolute;

    top: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    display: none;
}

.block__more{
    width: 600px;

    min-height: 500px;
    
    background-color:white;

    border-radius: 10px;

    padding: 15px;
}

.close{
    position: relative;

    height: 50px;

    width: 100%;
}

.close::after{
    content:'';

    position: absolute;

    height: 5px;

    width: 40px;

    background-color:black;

    display: block;

    top: 30px;

    right: 10px;

    transform:rotate(45deg);

    cursor: pointer;
}

.close::before {
    content: '';

    position: absolute;

    height: 5px;

    width: 40px;

    background-color: black;

    display: block;

    top: 30px;

    right: 10px;

    transform:rotate(-45deg);

    cursor: pointer;
}

.block__more h3 {
    font-size: 35px;

    margin-bottom: 10px;

    font-weight: bold;
}

.ingredients__text {
    font-size: 30px;
}

.structure__description{
    padding: 10px 0;
}

.structure__description li{
    margin-top: 10px;

    font-size: 20px;
}

.structure__description li span {
    font-weight: bolder;
}

.instructions__text {
    font-size: 30px;

    margin-bottom: 10px;
}

.instructions__description {
    font-size: 18px;
}

.more__serch{
    height: 40px;
    
    width: 40px;

    background-color:blue;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
} 

.more__btn{
    height: 4px;
    width: 30px;

    background-color:silver;

    position: relative;
}

.more__btn::before{
    content:'';

    display: block;

    position: absolute;

    top: -8px;

    height: 4px;
    width: 30px;

    background-color:silver;
}

.more__btn::after {
    content: '';

    display: block;

    position: absolute;

    bottom: -8px;

    height: 4px;
    width: 30px;

    background-color: silver;
}

#serch__type{
    font-size: 20px;

    margin-right: 20px;
}
